html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* <!-- Menu Items --> */

.menu{
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 58px;
    transition: height 2s;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    z-index: 81;
    position: fixed;
}

.logo{
    text-align: left;
    font-size: 30px;
    color: white;
}
.menu-nav a{
    color: rgba(255,255,255, 0.65);
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
}

.menu-nav{
    text-align: right;
    position: relative;
}

.menu-nav a.active{
    color: #fff;
}

.menu .icon{
    display: none;
}

@media screen and (max-width: 800px){
    .menu-nav a:not(:last-child){
        display: none;}

    .menu-nav a.icon{
        float: right;
        display: block;
        font-size: 32px;
        padding: 0px 30px 0px 0px;
    }
    .menu-nav{ 
        padding-top: 15px;
    }

    .menu.responsive {
        height: 190px;
        transition: height 2s;
        transition-timing-function: ease;
        -webkit-transition-timing-function: ease;
    }
}


/* <!-- Fancy Media Queries just for Menu --> */
@media screen and (max-width: 800px){
    .menu-nav.responsive {position: relative;
    background-color: rgba(0, 0, 0, 0.85);}
    .menu-nav.responsive .icon{
        position: absolute;
        right: 0;
        top: 15px;
    }
    .menu-nav.responsive a{
        float: none;
        display: block;
        text-align: center;
        animation: fadein 2s;
        -moz-animation: fadein 2s; /* Firefox */
        -webkit-animation: fadein 2s; /* Safari and Chrome */
        -o-animation: fadein 2s; /* Opera */
    }
}

/*<!-- Animation --> */

/* FADE IN */
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* FADE OUT*/
@keyframes fadeout {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

/* <!-- Section Items --> */

/* HOME SECTION */
.section-home{
    height: 100vh;
    cursor: url("images/cursor1.png"), auto;
}
.home{
    display: grid;
    grid-template-columns: repeat(10, 10vw);
    grid-template-rows: repeat(10,10vh);
}
.aboutMe h1{
    font-size: 3vw;
}
.myPic img{
    width: 100%;
    max-width: 425px;
}


/*Drab Business*/
.business{
    opacity: 1;
    background: rgb(255, 255, 255);
    background-image: url("images/tile.png");
    -webkit-animation: Static 0.0141s linear infinite;
	-moz-animation: Static 0.0141s linear infinite;
    animation: Static 0.0141s linear infinite;

    
}
#business-intro{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    align-self: center;
    justify-self: left;
    z-index: 80;

}
#business-intro h1{
    font-size:7vw;
    color: #fff;
    text-shadow: -6px 9px 9px hsla(0, 0%, 0%, 0.7);
    background-color: #ffffffad;
}

#business-pic{
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 8;
    justify-self: center;
}
#business-aboutme{
    grid-column-start:1;
    grid-column-end:6;
    grid-row-start:7;
    grid-row-end:10;
    
}
#business-aboutme h1{
    color: white;
    text-shadow: -6px 9px 9px hsla(0, 0%, 0%, 0.7);
    background-color: #00000083;
}

.specialButton{
    grid-column-start:8;
    grid-column-end: 12;
    grid-row-start:9;
    grid-row-end:12;
    justify-self: center;
    align-self: center;
    
}

.buttonShape{
    background-color:  #5742dc;
    height: 80px;
    width: 80px;
    z-index: 100;
    box-shadow: inset 4px 6px 10px black;
    border-radius: 50%;
}
.buttonShape::after{
    content: '';
}

.buttonShape:hover{
    -webkit-animation: Rainbow 5s ease-in-out infinite;
	-moz-animation: Rainbow 5s ease-in-out infinite;
	animation: Rainbow 5s ease-in-out infinite;
}

@media screen and (max-width: 800px){
    #business-aboutme{
        grid-column-start:1;
        grid-column-end:9;
        grid-row-start:7;
        grid-row-end:12;
    }   
    #business-pic{
        grid-column-start: 6;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 10;
    }
    .aboutMe h1{
        font-size: 5vw;
    }
}

/*Real Landing Page*/
.real{
    background: rgb(61,39,201);
    background-image: url("images/geo.png");
    background-image: url("images/geo.png"), linear-gradient(245deg, rgba(61,39,201,1) 0%, rgba(135,116,255,1) 100%);
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    -webkit-animation: PatDance 10s alternate ease-in-out infinite;
	-moz-animation: PatDance 10s alternate ease-in-out infinite;
    animation: PatDance 10s alternate ease-in-out infinite;
    height: 100vh;
    background-attachment: fixed;
}

#intro h1{
    font-size:4.8vw;
    color: white;
    text-shadow: -7px 5px 6px hsla(0, 0%, 0%, 0.7);
    position: absolute;
    z-index: 2;
}

#playPic{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
    align-self: center;
    justify-self: center;
}

#intro{
    grid-column-start:2;
    grid-column-end:10;
    grid-row-start:4;
    grid-row-end:6;
    justify-content: center;
    align-self: center;
}

.bwords{
    display: none;
}

.words{
    display: none;
    text-shadow:none;
    background-color: white;
    box-shadow: -5px 5px 0px 0px;
}

.words:hover{
   color: white;
   box-shadow: none;
}

#playPic img{
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    max-width: 330px;
    
}

#pic{
    position: relative;
    width:175px;
    background-image: url("images/play.jpeg");
    top: -61px;
    left: 62px;
}
#hello{
    display: none;
    background-color: rgb(255, 255, 255);
    text-shadow: none;
    color: #0081f9;
}
#name{
    width: 24%;
    position: relative;
    z-index: 1;
    left: 153px;
    bottom: 87px;
}

#aboutMe{
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 10;
    background-color: white;
}

@media screen and (max-width: 800px){
    #playPic{
        grid-column-start: 4;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 7;
    }
    #intro{
        grid-column-start: 2;
        grid-column-end: 10;
        grid-row-start: 3;
        grid-row-end: 6;
    }
    #intro h1{
        font-size: 8vw;
    }

    #name{
        width: 50%;
        position: relative;
        z-index: 1;
        left: 80px;
        bottom: 89px;

    }
}

/*BACKGROUND ANIMATION FOR HOME*/

@-webkit-keyframes Static {

	100% {
		background-position: 100% 50%
	}
}

@-moz-keyframes Static {
	
	100% {
		background-position: 100% 50%
	}
}

@keyframes Static {

	100% {
		background-position: 100% 50%
	}
}

@-webkit-keyframes PatDance {

	100% {
		background-position: 0% 30%
	}
}

@-moz-keyframes PatDance {
	
	100% {
		background-position: 0% 30%
	}
}

@keyframes PatDance {

	100% {
		background-position: 0% 30%
	}
}

/* Button animation */
@-webkit-keyframes Rainbow {

    0%{background-color: #5113e0;}
    25%{background-color: #e0132e;}
    50%{background-color: #e08013;}
    75%{background-color: #35e013;}
    100%{background-color: #137de0;}
}

@-moz-keyframes Rainbow {

    0%{background-color: #5113e0;}
    25%{background-color: #e0132e;}
    50%{background-color: #e08013;}
    75%{background-color: #35e013;}
    100%{background-color: #137de0;}
}

@keyframes Rainbow {

    0%{background-color: #5113e0;}
    25%{background-color: #e0132e;}
    50%{background-color: #e08013;}
    75%{background-color: #35e013;}
    100%{background-color: #137de0;}
}

@keyframes JumpShake{

}





/* Experience Section*/
.section-exp{
    padding-top: 1px;
    height: 100vh;
    background-image: url("images/noise_exp2.png");
    cursor: url("images/cursor2.png"), auto;
    -webkit-animation: Static .06s linear infinite;
	-moz-animation: Static 0.06s linear infinite;
    animation: Static 0.06s linear infinite;
}

.experience{
    opacity: 0;
    transition: opacity 1s;
}

.experience.visible{
    opacity: 1;
}


/* Projects Section*/
.section-pro{
    height: 100vh;
    background-color: #28d463;
    background-image: url("images/graph.png");
    height: 100vh;
    background-attachment: fixed;
}


/* Contact Section*/
.section-connect{
    background: rgb(25, 132, 233);
    background-image: url("images/geo.png");
    background-image: url("images/geo.png"), linear-gradient(245deg, rgba(25,132,233,1) 0%, rgb(10, 113, 247) 100%);
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    -webkit-animation: PatDance 10s alternate ease-in-out infinite;
	-moz-animation: PatDance 10s alternate ease-in-out infinite;
    animation: PatDance 10s alternate ease-in-out infinite;
    height: 100vh;
    background-attachment: fixed;
}

