/* FADE IN */

@include keyframes(fadein){
    from { opacity: 0;}
    to { opacity: 1;}
}

/* FADE OUT*/
@include keyframes(fadeout){
    from { opacity: 1;}
    to { opacity: 0;}
}

/*Initially named static. Adds a little texture to the projects page*/

@include keyframes(fuzz){
    100% {background-position: 100% 50%}
}

/*Home falling effect of background image*/

@include keyframes(patdance){
    100% {background-position: 0% 30%}
}

/*Rainbow <3 :)*/

@include keyframes(rainbow){
    0% {color: $blue;}
    40%{color: #00a799;}
    60%{color: $purple;}
    100%{color: $blue;}
}

@include keyframes(blink){
    0% {opacity: 0;}
    100% {opacity: 1;}
}

