/*Global colors for website*/

$purple: #5113e0;
$deep-purple: #2f009c;
$red: #e0132e;
$orange: #e08013;
$green: #35e013;
$blue: #137de0;
$white: #fff;
$black: #000;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;


$color-primary: $blue;
$color-secondary: $purple;
