
/* Experience Section*/
.experience{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

.section-exp{
    padding-top: 1px;
    height: 100vh;
    background-image: url("../images/noise.png"),linear-gradient(-183deg, rgb(233, 149, 1) 0%, rgb(249, 207, 3) 100%);
    @include animation(fuzz 0.1s  infinite);
}

.experience{
    opacity: 0;
    transition: opacity 1s;
}

.experience.visible{
    position: sticky;
    z-index: 2;
    opacity: 1;
}

.exp-header{
    opacity: 0;
    position: absolute;
    align-self: center;

    @include for-phone-only{
        top: 10%;
    }
}

.exp-header h1{
    text-align: center;
    font-size: 11vw;
    color: #00000066
}

.exp-content{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
    top: 25%;
    overflow-x: auto;
    height: 80vh;

    .card{
        flex: 0 0 auto;
    }
}

.card-holder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
